*~
*.layout
.bin
.obj
.src
ChangeLog
aclocal.m4
autom4te.cache
config.*
configure
*.depend
stamp-h1
Makefile
*.zip
*.tar
*.gz
*.bz2
rpm/BUILD
rpm/BUILDROOT
rpm/RPMS
rpm/SOURCES
rpm/SPECS
rpm/SRPMS
scripts
*.[0-9]
*.bak
*.rc
*.cache
MANIFEST
