Source: lib3270-python-bindings
Section: unknown
Priority: optional
Maintainer: Perry Werneck <perry.werneck@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, gettext, pw3270-dev, python-dev

Package: lib3270-python-bindings
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lib3270 
Description: PHP Extension Module implementing tn3270 protocol.
 This is an extension for acessing 3270 hosts directly from PHP apps.


